*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ion-title{
    text-align: center;
}

ion-item{
    font-size: small;
    text-align: center;
    display: block;
}

b{
    font-size: medium;
}

#description{
    text-align:center;
}